<div class="col-sm-4 col-md-4 col-lg-3" style="background:#3d265d;height: -webkit-fill-available;">
  <div class="col-sm-6 col-md-6 col-lg-6" >
  <img src="https://www.w3schools.com/css/trolltunga.jpg" class=" img-rounded img-responsive profile_pic"  alt="Cinque Terre">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12" > 
  <h4 class="profile_name">Name Name</h4>
  </div>
  <br>
  <div class="col-sm-12 col-md-12 col-lg-12">
        <hr>
      <label class="side-font"><a href="./dashboard" >Dashboard</a></label>
         <hr>
        <label class="side-font" ><a href="./pros" >Pros</a></label>
            <hr>     
       <label class="side-font" ><a href="./map" >Map</a></label>
       <hr>              
  </div>
</div>
<app-topbar></app-topbar>