<app-sidebar></app-sidebar>
<div class="col-sm-8 col-md-8 col-lg-9">
<div class="col-sm-12 col-md-12 col-lg-12">
  <h2>Pros </h2>
  <hr>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-3 col-md-4 col-lg-4">
  <label>Status:</label>
  <select class="dropdown_menu">
    <option>Active</option>
    <option>Inactive</option>
  </select>
    </div>
    <div class="col-sm-3 col-md-4 col-lg-4" style="float:right">
        <label>Filter:</label>
        <select class="dropdown_menu">
          <option>Active</option>
          <option>Inactive</option>
        </select>
          </div>
</div>
</div>
